<DOCTYPE HTML>
{% load static %}
<html>
    <head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <title>VENDCAR</title>
    </head>
    <body>
            <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Vendcar</h4>
              <p class="text-white">Aqui você pode comprar ou vender veiculos de todos os tipos, anos marcas e modelos</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                {% if user.username %}
                <li><a href="{% url 'add' %}" class="text-white">Venda seu veiculo</a></li>
                {% else %}
                <li><a href="{% url 'cadastro' %}" class="text-white">Cadastre-se</a></li>
                {% endif %}
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                {% if user.username %}
                <li><a href="{% url 'logout' %}" class="text-white">Sair</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            {% if user.username %}
            <a href="{% url 'perfil' %}" class="navbar-brand d-flex align-items-center">
                <strong>{{user.username}}</strong>
            </a>    
            {% else %}
          <a href="{% url 'login' %}" class="navbar-brand d-flex align-items-center">
            <strong>Login</strong>  
          </a>
          {% endif %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <div class="container">
    {% block body %}

    {% endblock %}
    </div>
        <footer class="text-muted">
    <div class="container">
        <p class="float-right">
          <a href="#">Voltar ao topo</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
        </div>
    </footer>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>

</html>