{% extends "store/base.html" %}
{% block body %}

<h1>Vendcar</h1>
<strong><p>Aqui você vende seu carro.</p></strong>
<h2>{{carro.modelo}}</h2>

<div class="card mb-3">
  <img class="card-img-top" src="{{carro.foto}}" alt="{{carro.modelo}}">
  <div class="card-body">
    <div class="row">
  <div class="col-sm-6">
    <div class="card border-0">
      <div class="card-body">
        <h5 class="card-title">{{carro.modelo}}</h5>
    <p class="card-text">{{carro.descricao}}</p>
    <p class="card-text">{{carro.data_do_anuncio}}</p>
     <h5 class="card-title">Acessórios</h5>
     <ul>
       {% for acessorio in carro.acessorio.all %}
          <li>{{acessorio}}</li>
       {% endfor %}
     </ul> 
    <div class="btn-group">
    {% if carro.user.username != user.username %}
    
           <a class="btn btn-primary btn-lg" href="{% url 'comprar' carro.id %}" title="">COMPRAR</a>
           <!--a class="btn btn-danger btn-lg" href="{% url 'detalhes' carro.id %}" title="">Denunciar</a-->
          
    {% else %}
    <a class="btn btn-warning btn-lg" href="{% url 'editar' carro.id %}" title="">EDITAR</a>
    <a class="btn btn-danger btn-lg" href="{% url 'apagar' carro.id %}" onclick="return confirm('Deseja mesmo apagar o anuncio?')">APAGAR</a>
    {% endif %}
    </div>  


      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-0">
      <div class="card-body">
        <h1 class="card-title text-center">R$ {{carro.preco}}</h1>
        <p class="card-text">Proprietário: {{carro.user.username}}</p>

      </div>
    </div>
  </div>
</div>
  </div>
</div>





{% endblock %}

