{% extends "store/base.html" %}
{% block body %}

<div class="album py-5 bg-light">
<div class="container">
<div class="row">
{% if carros %}
{% for carro in carros %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" src="{{carro.foto}}" alt="{{carro.modelo}}">
      <div class="card-body">
        <h5 class="card-title">{{carro.modelo}}</h5>
        <p class="card-text">{{ carro.descricao }}.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
           <a class="btn btn-primary btn-lg" href="{% url 'detalhes' carro.id %}" title="">Detalhes</a>
           <!--a class="btn btn-danger btn-lg" href="{% url 'detalhes' carro.id %}" title="">Denunciar</a-->
          </div>
          <small class="text-muted">{{carro.user.username}}</small>
        </div>
      </div>
    </div>
  </div>  
{% endfor %}  
{% else %}
<div class="col-md-6">
  <div class="card mb-6 border-0">
    <img class="card-img-top" src="/media/images/cara_triste.jpg" alt="{{carro.modelo}}"id="triste">
    <div class="card-body">
      <h5 class="card-title">Não existem carros cadastrados.</h5>
    </div>
  </div>
</div>
{% endif %}
</div>
{% if sugestoes %}
<h5>Mas você pode gostar destes:</h5>
<div class="row">
{% for carro in sugestoes %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" src="{{carro.foto}}" alt="{{carro.modelo}}">
      <div class="card-body">
        <h5 class="card-title">{{carro.modelo}}</h5>
        <p class="card-text">{{ carro.descricao }}.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
           <a class="btn btn-primary btn-lg" href="{% url 'detalhes' carro.id %}" title="">Detalhes</a>
           <!--a class="btn btn-danger btn-lg" href="{% url 'detalhes' carro.id %}" title="">Denunciar</a-->
          </div>
          <small class="text-muted">{{carro.user.username}}</small>
        </div>
      </div>
    </div>
  </div>  
{% endfor %}
</div>
{% endif %}
</div>
</div>
{% endblock %}