{% extends "store/base.html" %}
{% block body %}

<div class="album py-5 bg-light">
<div class="container">
<div class="row">
{% if carros %}
{% for carro in carros %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" src="{{carro.foto}}" alt="{{carro.modelo}}">
      <div class="card-body">
        <p class="card-text">{{ carro.descricao }}.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
           <a class="btn btn-primary btn-lg" href="{% url 'detalhes' carro.id %}" title="">Detalhes</a>
           <!--a class="btn btn-danger btn-lg" href="{% url 'detalhes' carro.id %}" title="">Denunciar</a-->
          </div>
          <small class="text-muted">{{carro.user.username}}</small>
        </div>
      </div>
    </div>
  </div>  
{% endfor %}  
{% else %}
<span>Não existem carros cadastrados.</span>
{% endif %}
</div>
</div>
</div>
{% endblock %}