{% extends "store/base.html" %}

{% block body %}

<div class="album py-5 bg-light">
<div class="container">
  <h2>Seus carros</h2>
<div class="row">
{% if user.meus_carros.all %}
{% for carro in user.meus_carros.all %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" src="{{carro.foto}}" alt="{{carro.modelo}}">
      <div class="card-body">
        <h5 class="card-title">{{ carro.modelo }}</h5>
        <p class="card-text">{{ carro.descricao }}.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a class="btn btn-primary btn-lg" href="{% url 'detalhes' carro.id %}">
              Detalhes
            </a>
            <a class="btn btn-success btn-lg" href="{% url 'editar' carro.id %}">
            Editar
            </a>
          </div>
          <small class="text-muted">{{ carro.data_do_anuncio }}</small>
        </div>
      </div>
    </div>
  </div>  
{% endfor %}  
{% else %}
<div class="col-md-6">
  <div class="card mb-6 border-0">
    <img class="card-img-top" src="/media/images/cara_triste.jpg" alt="{{carro.modelo}}"id="triste">
    <div class="card-body">
      <p class="card-text">Você não tem carros cadastrados.</p>
      <p class="card-text"><a href="{% url 'add' %}" title=""> Vender um veiculo </a></p>
    </div>
  </div>
</div>
{% endif %}
</div>
</div>
</div>


{% endblock %}