{% extends "store/base.html" %}

{% block body %}

<div class="album py-5 bg-light">
<div class="container">
<div class="row">
{% if user.meus_carros.all %}
{% for carro in user.meus_carros.all %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" src="{{carro.foto}}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">{{ carro.modelo }}.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Detalhes</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Denunciar</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>  
{% endfor %}  
{% else %}
<span>Não existem carros cadastrados.</span>
{% endif %}
</div>
</div>
</div>


{% endblock %}